version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-net

  app:
    image: ${DOCKER_USERNAME}/myapp:latest
    container_name: myapp
    restart: always
    depends_on:
      - mysql
    env_file:
      - .env
    ports:
      - "8080:8080"
    networks:
      - app-net

volumes:
  mysql_data:

networks:
  app-net:
    driver: bridge
